*,html,body
{
    margin: 0;
    padding: 0;
    
}
body{
    width: 100%;
    height: auto;

  
}
/* HEADER*/
header{
    position: fixed;
    width:100%;
    z-index: 3;
    background-color: #0006;
    overflow: hidden;
}
.logo{ position: absolute;
    right: -16%;
     top: 0;
 }
.logo img{
   width: 30%;
   border-radius: 5%;
}
/* NAVBAR*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    margin-left: 0;
    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav H3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .profile{
      width: 100%;
  }
  .tpf{
      text-align: center;
      padding-top: 10%;
      background-color:rgb(62, 223, 156);
      padding-bottom: 5%;
  }
  .tpf h1{
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: black;
      font-size: 50px;
      text-shadow: 2px 2px 3px blanchedalmond;
  }
  .tpf:hover{
      
      background-color:rgb(52, 187, 131);
  }
  .profile2{
    width: 100%;
}
 .tpf2{
    text-align: center;
    padding-top: 10%;
    background-color:rgb(38, 222, 247);
    padding-bottom: 5%;
}
.tpf2 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    text-shadow: 2px 2px 3px blanchedalmond;
}
.tpf2:hover{
    
    background-color:rgb(34, 175, 194);
}
.profile3{
    width: 100%;
}
 .tpf3{
    text-align: center;
    padding-top: 10%;
    background-color: rgb(242, 245, 60);
    
}
.tpf3 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
    text-shadow: 2px 2px 3px blanchedalmond;
}
.tpf3:hover{
    
    background-color: rgb(212, 214, 54);
}

